
@{
    Layout = "Layout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/BookMovie.css" />
</head>
<body>
    
    <div class="container">
        <div>
            <img src="~/Pikachu.jpg" class="movieImage" />
        </div>
        <div class="row">
            <div class="col-lg-3">
                Cineplex
            </div>
            <div class="col-lg-9">
                <a href="@Url.Action("selectSeats", "Home")">
                    <button class="time">7:0.5 a.m</button></a>
                    <button class="time">8:0.5 a.m</button>
                    <button class="time">9:0.5 a.m</button>
                    <button class="time">10:0.5 a.m</button>
</div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-3">
                Cineplex
            </div>
            <div class="col-lg-9">
                <button class="time">:0.5 a.m</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-3">
                Cineplex
            </div>
            <div class="col-lg-9">
                <button class="time">7:0.5 a.m</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-3">
                Cineplex
            </div>
            <div class="col-lg-9">
                <button class="time">7:0.5 a.m</button>
            </div>
        </div>
    </div>
</body>
</html>

