@{
    Layout = "Layout.cshtml";
}


<html>
<head>
    <link rel="stylesheet" href="~/css/LoginUser.css" />
</head>
<body>
    <div class="formDiv">
        <h3>Log in Failure</h3>
        
    </div>


</body>
</html>