@{
    Layout = "Layout.cshtml";
}


<html>
<head>
    <link rel="stylesheet" href="~/css/LoginUser.css" />
</head>
<body>
    <div class="formDiv p-3">
        <h3>Logged in successfully</h3>
        @*<button class="btn-lg btn-primary">*@
            <a href="@Url.Action("", "Home")"><button>Continue to Book Movie</button></a>
        @*</button>*@
    </div>


</body>
</html>