
@{
}

<html>
<head>
    <link rel="stylesheet" href="~/css/LoginUser.css" />
</head>
<body>
    <div class="formDiv">
        <h3>Login</h3>
    <form action="">
        <input type="text" placeholder="Username"/>
        <input type="text" placeholder="Password"/>
        <button type="Submit">Submit</button>

    </form>
        </div>
</body>
</html>