
@{
}

<html>
<head>
    <link rel="stylesheet" href="~/css/LoginUser.css" />
</head>
<body>
    <div class="formDiv">
        <h3>Login</h3>
    <form action="">
        <input type="text" placeholder="Username"/><br/>
        <input type="text" placeholder="Password"/><br/>
        <label>Don't have an account <a href="">Sign Up here</a></label><br/>
        <button type="Submit">Submit</button>

    </form>
        </div>
</body>
</html>