
@{

}
<html>
<head>
    <link rel="stylesheet" href="~/css/MainPage.css" />
</head>
<body>
    <div class="Background">
        <h4>Now Trending !!</h4>
        <div class="card" style="width:12rem;">
            <img src="~/movie-1.jpg" class="image-card" />
            <div class="card-body">
                Title 1
            </div>
        </div>
        <div class="card" style="width: 12rem;">
            <img src="~/movie-4.jpg" class="image-card" />
            <div class="card-body">
                Title 1
            </div>
        </div>
        <div class="card" style="width: 12rem;">
            <img src="~/movie-4.jpg" class="image-card" />
            <div class="card-body">
                Title 1
            </div>
        </div>
        <div class="card" style="width: 12rem;">
            <img src="~/movie-4.jpg" class="image-card" />
            <div class="card-body">
                Title 1
            </div>
        </div>
        <div class="card" style="width: 12rem;">
            <img src="~/movie-1.jpg" class="image-card" />
            <div class="card-body">
                Title 1
            </div>
        </div>
        <div class="card" style="width: 12rem;">
            <img src="~/movie-1.jpg" class="image-card" />
            <div class="card-body">
                Title 1
            </div>
        </div>
    </div>
</body>
</html>
