
@model MovieTicketReservation.Models.BookingList 
@{
    Layout = "Layout.cshtml";
}


<html>
<head>
    <link rel="stylesheet" href="~/css/payment.css" />
</head>
<body>
    <div class="border border-primary formDiv p-3 m-3 text-primary text-left">
        <div class="row">
            <div class="col">
                <b>
                    <u>
                        <h1 class="p-3 m-3">Your Payment is successfull. Below are your booking Details</h1>
                    </u>
                </b>
                <br />
                <br />
                <h2 class="p-3 m-3"><b>Movie Name : </b>@Model.bookingList.ToArray()[@Model.bookingList.ToArray().Count()-1].movieName</h2>
                <br />
                <h2 class="p-3 m-3"><b>Timing : </b>@Model.bookingList.ToArray()[@Model.bookingList.ToArray().Count() - 1].timings</h2>
                <br />
                <h2 class="p-3 m-3"><b>Seats : </b>@Model.bookingList.ToArray()[@Model.bookingList.ToArray().Count()-1].seatId</h2>

            </div>
        </div>
    </div>
</body>
</html>