
@model MovieTicketReservation.Models.BookingList
@{
    Layout = "Layout.cshtml";
}


<html>
<head>
    <link rel="stylesheet" href="" />
</head>
<body>
    <div class="formDiv">
        <h3>Your Payment is successfull. Below are your booking Details</h3>
        @Model.bookingList.ToArray()[0].movieName
        @Model.bookingList.ToArray()[0].timings
    </div>
</body>
</html>